@charset "UTF-8";

html{
	background: white;
	padding:0px;
	width: auto;
    height: auto;
}

body{	
	font-family: "Arial", "Helvetica", sans-serif;
	margin: 0;
    padding: 0;
}
/* ***************************posicionamento do logo da barra de navegação e roda pé************************** */
header{	
	margin: 1.6% 0px 0px 6.5%;
	float:left;
	
}

nav{	
	border-radius: 20px;
	background: rgba(229,228,227,0.30);/*cor de fundo dos botões da nav*/
	margin: 0px 50% 0px 24.1%;
	border: 2px solid orange;
	width: 71.5%;
    height: 100%;	
}

h1{
	color:orange;
}

h2, h3, h4, h5, h6{
	display:none;
}
span{
	visibility:hidden;
}
.aux1{ 
	background-color:rgba(229,228,227,0.68); /* cor e fundo do logo e barra de navegação*/
	padding: 0 0 60px 0;
	margin: 10px
	
}

.aux {
    padding: 50px 0 0 0; /* para abaixar um pouco a barra de nevegação*/
	
}

.logo{
	width:76%; /* tamanho do logo*/
}
/*ajustes do footer*/
footer{
	margin: 10px;
	background-color:rgba(229,228,227,0.68);
	width:95.4%;
    height:100px;
	padding:20px;
}

.imgfooter{
	width:50px;
	margin:10px 20px 10px 0px;
	float:right;
}

.pfooter{
	text-align:center;
	margin:5% 0px 0px 0px
}
/* *****************************************fim do posicionamento da barra logo e roda pé*********************************** */

/* **********************alinhamento do menu e animação***************************************** */
ul.menu li  { 
	display: inline;
	margin:0% 2% 0% 0%; /*posiciona os botão da barra de navegação*/
}

.a1{
    background-color: rgba(176,168,160,0.68); /*cor de fundo dos botões dos links*/
    color: white;
    padding: 1.6% 3.6%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	border-radius: 50px;
	font-size: 111%;
}

.a1:hover{
    background-color: orange;
}
/* ************************************fim da animação do menu************************************ */

/* ********************************CSS para página INICIO************************************* */

.banner1{
	position: relative;
    width: 98.5%; /* ajuste do tamanho do banner*/
    margin: auto;
}

/*css da formatação da animação da imagem do banner*/
.imgbanner {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.banner1:hover .imgbanner {
  opacity: 0.3; /*ajuste da opacidade da imagem*/
}

.banner1:hover .middle {
  opacity: 1; /*ajuste da opacidade do hover*/
}

.textbanner {
  background-color: orange; /*cor do texto*/
  color: white; /*cor da letra*/
  font-size: 50px; /*ajuste do tamanhoda letra*/
  padding: 16px 32px; /*ajuste do tamanho do background do texto*/
}
/*fim do css da formatação da animação da imagem do banner*/

/* formatação do H1 */
.h1text{
	text-align: center;
	color: orange;

}
.articleinicio{
	display: inline-block;
	margin: 10px 0px 0px 5.3% ;
	padding: 10px 10px 10px 10px;
	background-color:  rgba(229,228,227,0.80);
	/*tamanho do elemento*/
	height: 330%;
	width: 24%;
}
/* *****************************************************fim do css página de inicio******************************************** */

/* ***************************************CSS PARA A PARGINA SOBRE******************************************** */
.equipe{ /*tamanho da imagem dentro do quadro*/
	width:100%;
	height:65%;
}

.texto{/*texto embaixo das imagens*/
	margin:1.6% 3% 1.6% 9.2%;
    border: 2px solid #ccc;
    float: left;
    width:33.3%;
    height:230px;
}

.tean{
	display: inline-block;
	width:42%;
	text-align:left;
}

.history {
	float:left;
	margin:1% 5% 1% 2.4%;
    width: 40%;
	padding: 10px;
}

.paragrafo{
	margin:50px 10px 70px 0px;
}
/* ***************************************FIM DO CSS PARGINA SOBRE******************************************** */

/* ***********************************inicio css página do Portifólio****************************************** */

/* inicio css das imagens*/
.imgs{ /*tamanho das imagens dentro do guadro*/
	width:100%;
	height:50%;
}

.gallery {/*ajusta a distacia entre os elementos*/
	margin:1% 3% 1% 5%;
    border: 2px solid #ccc;
    float: left;
    width:15.8%;
    height:220%;
}

.gallery:hover {
    border: 1px solid orange;
}

.desc {
    padding: 10px 2px;
    text-align: left;
	width:auto;
}
.asidega{
	display: inline-block;
}

.articlega{
	
}
/* formatação do h1*/
.h1port{
	text-align: center;
	font-size: 25px;
}
/* **********************************************fim css portifolio********************************************* */

/* *************************************CSS PARA PAGINA DE SERVIÇOS************************************ */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid orange;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
/***/
.articletab {
	display: inline-block;
	width: 35%;
	margin:0% 0% 0% 10%;
}
.asidetab{
	width: 35%;
	float:right;
	margin:0% 10% 0% 10%;
}
.h1tabela{
	width: auto;
	font-size:120%;
	margin: 2% 3% 2% 30%;
}
/* *************************************FIM DO CSS PARA PAGINA DE SERVIÇOS************************************ */

/* **************INICIO DO CSS PARA PAGINA DE CONTATO*********************** */
.articlecontato{
    border-radius: 5px;
    padding: 20px;
}
input[type=text], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}
/* **************FIM DO CSS PARA PAGINA DE CONTATO*********************** */